@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>IA-8x students list:</p>
    <ul>
      <li>Valeriy Makarov</li>
      <li> Kyrylo Moseichuk </li>
      <li>Vasya Kushnir</li>
      <li>Denis Sokolov</li>
      <li>Anton Shikhert</li>
      <li>Bogdan Horoshilov</li>
    </ul>
</div>
